<div yw-active-menu="Kibana"
     yw-active-title="Kibana | Explore & Visualize Your Data">
  <p>Kibana content</p>
  <iframe src="http://search-csci572-vbd7idisazj5dy44rsanqhhtkq.us-west-2.es.amazonaws.com/_plugin/kibana/#/dashboard/weapons_dashboard?embed&_g=()&_a=(filters:!(),panels:!((col:1,id:post-locations,row:1,size_x:7,size_y:4,type:visualization),(col:8,id:top-locations-for-posts-bar-chart,row:1,size_x:5,size_y:4,type:visualization),(col:6,id:manufacturer-gun-type-counts,row:5,size_x:7,size_y:5,type:visualization),(col:1,id:gun-types-chart,row:5,size_x:5,size_y:3,type:visualization),(col:1,id:count-posts-on-dates,row:8,size_x:5,size_y:2,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:weapons_dashboard)" height="600" width="1200"></iframe>  
</div>
